fastapi
# pydantic
uvicorn
httpx

pandas
# numpy

# matplotlib

ipython

scikit-learn==1.5.0
imbalanced-learn # imblearn
lightgbm
shap

# re
# pickle

isort  # trier les imports 
black   # formater le code
pytest # jouer les tests

